In [31]:

# DO NOT MODIFY

# import appropriate libraries

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

ImportError: cannot import name 'Dataframe' from 'pandas' (/Users/Jacqueline/opt/anaconda3/lib/python3.7/site-packages/pandas/__init__.py)

In [4]:

# DO NOT MODIFY

# We will use the minute weather dataset for this exercise.

def get_data():
    return pd.read_csv('/Users/Jacqueline/Documents/PythonForDataScience/Week-7-MachineLearning/weather/minute_weather.csv')

df = get_data()
df.head()

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8

In [5]:
# modify this cell

def down_sample(df, k):
    ### BEGIN SOLUTION
    sampled = df[(df["rowID"]%k)==0]
    return sampled
    
    ### END SOLUTION

In [6]:
ans = 15873

try:
    sampled_df = down_sample(df, 100)
    assert np.alltrue(sampled_df.shape[0] == ans)
except AssertionError as e: print("Try again, your output did not match the expected answer above")

In [14]:
sampled_df.shape

(15873, 13)

In [15]:
# modify this cell

def clean_data(df):
    ### BEGIN SOLUTION
    new = df.copy()
    del new['rain_accumulation']
    del new['rain_duration']
    new = new.dropna()
    
    return new
    
    ### END SOLUTION

In [16]:
new = clean_data(sampled_df)
new.shape

(15870, 11)

In [17]:

# DO NOT MODIFY

try: 
    cleaned_df = clean_data(sampled_df)
    assert np.alltrue(sampled_df.shape == (15873, 13))
    assert np.alltrue(cleaned_df.shape == (15870, 11))
except AssertionError as e: print("Try again ! Check both  clean_data and down_sample functions")

In [18]:

cleaned_df.describe()

,rowID,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,relative_humidity
count,1.587000e+04,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000,15870.000000
mean,7.936240e+05,916.829464,61.857384,161.287524,2.792804,162.700945,3.414625,166.644297,2.152268,47.591084
std,4.582191e+05,3.051662,11.834858,95.313161,2.070506,92.269601,2.428906,97.824836,1.758114,26.189680
min,0.000000e+00,905.100000,32.360000,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,1.500000
25%,3.968250e+05,914.800000,52.700000,61.000000,1.300000,68.000000,1.600000,75.000000,0.800000,24.700000
50%,7.936500e+05,916.700000,62.420000,182.000000,2.200000,186.000000,2.800000,180.000000,1.700000,44.600000
75%,1.190375e+06,918.700000,70.880000,217.000000,3.800000,223.000000,4.600000,212.000000,3.000000,67.900000
max,1.587200e+06,929.400000,96.440000,359.000000,20.100000,359.000000,20.900000,359.000000,19.500000,92.900000

In [19]:
# modify this cell

def scale_task(D, F):
    ### BEGIN SOLUTION
    new = D[F]
    X = StandardScaler().fit_transform(new)
    return X
    ### END SOLUTION

In [20]:
# DO NOT MODIFY

try: 
    features = ['air_pressure', 'air_temp', 'relative_humidity']
    scaled_data = scale_task(cleaned_df, features)
    assert np.allclose(scaled_data.mean(axis=0), 0)
    assert np.allclose(scaled_data.std(axis=0),1, atol=1e-04)
except AssertionError as e: print("Try again, your solution did not produce the expected output above")

In [34]:
# modify this cell

def clustering_task(D, N):
    ### BEGIN SOLUTION
    kmeans = KMeans(n_clusters=N)
    model = kmeans.fit(D)
    centers = model.cluster_centers_
    cols = ['air_pressure', 'air_temp', 'relative_humidity']
    index = ['cluster_1','cluster_2','cluster_3']
    return pd.DataFrame(data = centers,
                       index=index, columns=cols)
    ### END SOLUTION

In [35]:
# DO NOT MODIFY

try: 
    ct = clustering_task(scaled_data, 3)
    print(ct)
    assert np.alltrue(ct.shape == (3, 3))
except AssertionError as e: print("Keep trying - ensure all previous functions also work correctly ")

try:
    print(40*'-')
    print(ct.describe())
except AssertionError as e: print("Ensure clustering_task returns a Pandas dataframe")

           air_pressure  air_temp  relative_humidity
cluster_1     -0.299007  0.838945          -0.431579
cluster_2     -0.449033 -0.971644           1.128288
cluster_3      1.164802 -0.083964          -0.853544
----------------------------------------
       air_pressure  air_temp  relative_humidity
count      3.000000  3.000000           3.000000
mean       0.138921 -0.072221          -0.052278
std        0.891601  0.905352           1.043943
min       -0.449033 -0.971644          -0.853544
25%       -0.374020 -0.527804          -0.642562
50%       -0.299007 -0.083964          -0.431579
75%        0.432898  0.377491           0.348355
max        1.164802  0.838945           1.128288