In [2]:
import pandas as pd
import numpy as np
import os.path

In [3]:
# DO NOT MODIFY

# set here the relative path to the movielens folder
MOVIELENS="/Users/Jacqueline/Documents/PythonForDataScience/Week-4-Pandas/movielens/ml-25m/"

movies = pd.read_csv(os.path.join(MOVIELENS, 'movies.csv'), sep=',')
ratings = pd.read_csv(os.path.join(MOVIELENS, 'ratings.csv'), sep=',')

In [4]:
# DO NOT MODIFY

ratings = ratings.iloc[:100000]

In [5]:
# DO NOT MODIFY

import sqlite3
conn = sqlite3.connect("movielens.db")

In [11]:
print("Size of the database is {:.2g} MB".format(os.path.getsize("/Users/Jacqueline/Documents/PythonForDataScience/Week-8-NLP-Databases/movielens.db")))

Size of the database is 0 MB

In [13]:
# DO NOT MODIFY

movies.to_sql("movies", conn, if_exists="replace")

In [14]:
# DO NOT MODIFY

ratings.to_sql("ratings", conn, if_exists="replace")

In [15]:
print("Size of the database is {:.2g} MB".format(os.path.getsize("movielens.db")/1024**2))

Size of the database is 7.8 MB

In [16]:
cursor = conn.cursor()

In [22]:

def get_list_of_tables(sqlite_cursor):
    """Return a list of table names in a sqlite database
    
    Parameters
    ----------
    sqlite_cursor : sqlite3.Cursor
    SQLite database cursor
    
    Returns
    -------
    tables : list of strings
    list of table names"""
### BEGIN SOLUTION
    tup_tables = cursor.execute("SELECT name FROM sqlite_master").fetchall()
    list_tables = []
    for tup in tup_tables:
        list_tables.append(tup[0])
        
    return list_tables


### END SOLUTION

In [23]:

movielens_db_tables = get_list_of_tables(cursor)
movielens_db_tables

['movies', 'ix_movies_index', 'ratings', 'ix_ratings_index']

In [24]:
# DO NOT MODIFY

assert isinstance(movielens_db_tables[0], str), "Make sure that the function does not return a list of tuples but just a list of strings"
assert "movies" in movielens_db_tables, "It looks like the movies table is missing"
assert "ratings" in movielens_db_tables, "It looks like the ratings table is missing"

In [31]:

first_3_ratings = None
### BEGIN SOLUTION
first_3_ratings = cursor.execute("select * from ratings limit 3").fetchall()
    
### END SOLUTION

In [34]:
type(first_3_ratings)

list

In [33]:
assert len(first_3_ratings) == 3, "Make sure you are selecting only 3 rows"
assert len(first_3_ratings[0]) == 5, "Something went wrong, each row of ratings should have 5 columns"

In [35]:
ratings_dataframe = None
### BEGIN SOLUTION
ratings_dataframe = pd.read_sql_query("SELECT * FROM ratings", conn)
### END SOLUTION

In [36]:
assert len(ratings_dataframe) == 100000, "Check your code, you should have 100000 rows"

In [37]:
cursor.execute("SELECT * FROM movies WHERE genres LIKE '%Children%' LIMIT 3").fetchall()

[(0, 1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (1, 2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (7, 8, 'Tom and Huck (1995)', 'Adventure|Children')]

In [45]:

fantasy_movies_dataframe = None
### BEGIN SOLUTION
fantasy_movies_dataframe = pd.read_sql_query("SELECT * FROM movies WHERE genres LIKE '%Fantasy%'", conn)
### END SOLUTION
len(fantasy_movies_dataframe)

2731

In [46]:
# DO NOT MODIFY

assert len(fantasy_movies_dataframe) == 2731, "Make sure you do not have LIMIT in the SQL query"
assert fantasy_movies_dataframe.genres.str.contains("Fantasy").all(), "All rows should contain the Fantasy string, try to identify which rows are not"